p{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: red;

}
.blue{
    background-color: blue;
}




.square1{
    background-color: rgb(243, 85, 0.2);
    height: 100px;
    width: 100px;
}
.square1{
     background-color: rgb(249, 112, 0.5);
    height: 100px;
    width: 100px;
}
