p{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: red;

}
.BLUE{
    background-color: blue;
    height: 100px;
    width: 100px;
}
.BLUE{
    background-color: blue;
    height: 100px;
    width: 100px;
}
.BLUE{
    background-color: blue;
    height: 100px;
    width: 100px;
}
.square1{
    background-color: rgb(243, 85, 85);
    height: 100px;
    width: 100px;
}
.square1{
     background-color: rgb(249, 112, 112);
    height: 100px;
    width: 100px;
}
